[submodule "Skins/PyTaikoGreen"]
	path = Skins/PyTaikoGreen
	url = https://ese.tjadataba.se/Yonokid/PyTaikoGreen.git
[submodule "Skins/YataiDONRed"]
	path = Skins/YataiDONRed
	url = http://ese.tjadataba.se/Yonokid/YataiDONRed.git
[submodule "Skins/YataiDONNijiiro"]
	path = Skins/YataiDONNijiiro
	url = http://ese.tjadataba.se/Yonokid/YataiDONNijiiro.git
